body{
    font-family: 'PT Sans', sans-serif;
    /*font-family: 'Merriweather', serif;*/
    /*font-family: 'Roboto Slab', serif;*/
}

.body-cs{
    margin: 0 200px;
}

.margin-top-20 {
    margin-top: 20px;
}

.title-cs{
    font-size: 90px;
    text-align: center;
}

.letter-solid-cs{
    font-size: 64px;
    color: #5b5bef;
}

.border-solid-cs{
    border: solid 2px
}

.icons-info-personal{
    font-size: 16px;
    color: #007bff;
}

.items-style{
    background-color: #007bff;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 8px;
}

.bold-text {
    font-weight: bold;
}

.text-center{
    text-align: center;
}

.icon-sm-style{
    font-size: 70px;
    color: gray;
}

.twitter-color{
    color: #007bff;
}

.linkedin-color{
    color: #004085;
}

.github-color{
    color: gray;
}