/* Import font css */
@import url(/css/fonts.css);

/* css variables */ 
@import url(./partials/_variables.css);

/* style css navigation */ 
.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 2rem;
}

.header_area .main-menu .nav-item .nav-link{
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* style css logo */
.main-menu img {
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }