.body-cs{
    margin: 0 200px;
}

.title-cs{
    font-size: 90px;
    text-align: center;
}

.letter-solid-cs{
    font-size: 64px;
    color: #5b5bef;
}

.border-solid-cs{
    border: solid 2px
}

.icons-info-personal{
    font-size: 16px;
    color: #007bff;
}